{% extends 'base.html.twig' %}
{% block title 'Créer une offre' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_rest(form)}}
    <button class="btn">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
{% endblock %}
