<div class="d-flex justify-content-center">
    <table class="col-3">
        <tr>
            <td><i class="fas fa-user"></i> {{ user.candidate.fullname }}</td>
            <td>{{ user.candidate.age }}ans</td>
        </tr>
    </table>
    <table class="col-6 offset-1">
        <tr>
            <td>Test</td>
        </tr>
    </table>
</div>
