<div class="d-flex justify-content-center">
    <table class="col-3">
        <tr>
            <td><i class="fas fa-user"></i> {{ user.candidate.fullname }}</td>
            <td>{{ user.candidate.age }}ans</td>
        </tr>
    </table>
    <div class="col-8 offset-1">
        <h2 class="pt-3">MES COMPETENCES PRO : </h2>
        <canvas id="myChartPro"></canvas>
        <h2 class="pt-3">MES COMPETENCES PERSO : </h2>
        <canvas id="myChartPerso"></canvas>
    </div>
    <div class="container">

    </div>
</div>
