// Fonts
$montserrat: 'Montserrat', sans-serif;
$baloo: 'Baloo 2', cursive;

// Colors
$primary: #FFFFFF;
$secondary: #48889b;
$orange: #FFB063;
$darkGrey: #2B2B2B;
$gold: #6B5915;
$greyLight: #F3F3F3;
$grey: #cecece;
$red: #f44336;
