// Library
@import '~bootstrap/scss/bootstrap';
@import '~select2/dist/css/select2.min.css';
@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~chart.js/dist/Chart.min.css';
@import '~rangeslider-pure/dist/range-slider.min.css';

// Variables
@import '_variables';

// Override Bootstrap
@import 'bootstrap_override/others';
@import 'bootstrap_override/button';
@import 'bootstrap_override/dropdown';

// JobTech Pages
@import 'main';
@import 'jobtech/index';
@import 'user/profile';
@import 'user/register';
@import 'offer/list';
@import 'news/list';
@import 'messages/inbox';
@import 'user/login';

// Components
@import 'components/_navbar';
@import 'components/_footer';
@import 'components/_carousel';
@import 'components/_step_progress_bar';
