html {
    height: 100vh;
}

body {
    height: calc(100vh - 70px);
    font-family: $montserrat;
    color: $darkGrey;

    h1 {
        font-size: 2rem;
        color: $secondary;
        font-family: $montserrat;
        font-variant-caps: small-caps;
    }

    h2 {
        color: $orange;
        font-size: 1.8rem;
        font-family: $baloo;
    }

    h5 {
        font-family: $baloo;
    }

    p {
        margin-bottom: unset;
    }

    a {
        color: $secondary;

        &:hover {
            color: $gold;
        }
    }

    hr {
        border-top: 1px solid rgba(0, 0, 0, 0.4)
    }
}

main {
    min-height: calc(100vh - 70px - 300px);
    margin-top: 70px;
}

.container {
    @media (min-width: 992px) {
        margin: 15px auto 15px auto;
        width: 80%;
        max-width: 1140px;
    }
}

.text {
    &-secondary {
        color: $secondary !important
    }

    &-orange {
        color: $orange;
    }

    &-gold {
        color: $gold;
    }

    &-dark-grey {
        color: $darkGrey;
    }

    &-greyLight {
        color: $greyLight;
    }

    &-grey {
        color: $grey;
    }

    &-black {
        color: black;
    }

    &-red {
        color: $red;
    }

    &-italic {
        font-style: italic;
    }
}

.bg {
    &-secondary {
        background-color: $secondary !important;
    }

    &-orange {
        background-color: $orange;
    }

    &-gold {
        background-color: $gold;
    }

    &-dark-grey {
        background-color: $darkGrey;
    }

    &-grey {
        background-color: $grey;
    }
}

.hover {
    &-orange:hover {
        color: $orange;
    }
}

.margin {
    &-negative {
        margin-left: -40px !important;
        margin-right: -70px !important;
    }
}

.vh {
    &-50 {
        height: 50vh;
    }

    &-75 {
        height: 75vh;
    }
}
