html {
    height: 100vh;
}

body {
    height: calc(100vh - 70px);
    font-family: $montserrat;
    color: $darkGrey;

    h1 {
        font-size: 2rem;
        color: $secondary;
        font-family: $montserrat;
        text-transform: uppercase;
    }

    h2 {

    }

    p {
        margin-bottom: unset;
    }
}

main {
    min-height: calc(100vh - 70px - 300px);
    margin-top: 70px;
}

.container {
    @media (min-width: 992px) {
        margin: 15px 10% 15px 10%;
        min-width: 80%;
    }
}

.text-secondary {
    color: $secondary !important
}

.text-orange {
    color: $orange;
}

.text-gold {
    color: $gold;
}

.text-dark-grey {
    color: $darkGrey;
}

.text-grey {
    color: $grey;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-orange {
    background-color: $orange;
}

.bg-gold {
    background-color: $gold;
}

.bg-dark-grey {
    background-color: $darkGrey;
}

.bg-grey {
    background-color: $grey;
}
