{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Dashboard' %}

{% block page_content %}
    <div class="container">
        <div>
            <h1>Exporter les utilisateurs</h1>
            <div class="d-flex flex-column ml-5">
                <a href="{{ path('csv_candidates') }}" download="candidats_{{ "now"|date("d_m_Y") }}.csv">- <i class="fas fa-file-download"></i> Exporter les candidats</a>
                <a href="{{ path('csv_companies') }}" download="entreprises_{{ "now"|date("d_m_Y") }}.csv">- <i class="fas fa-file-download"></i> Exporter les entreprises</a>
            </div>
        </div>
    </div>
{% endblock %}
