{% extends 'base.html.twig' %}

{% block title %}Liste des offres{% endblock %}


{% block body %}
<h2 class="mt-3 ml-4 mb-3">Les dernières offres</h2><div class="container">
    <div class="container">
        <div class="row">
            <div>
                {% include 'job_tech/offer/_filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="grid">
                    {% for offer in offers %}
                        {% include'job_tech/offer/_card.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
