.modal-login {
    width: 50%;
    height: 600px;
    text-align: center;
    border-radius: 20px;
}

.modal-content {
    border-radius: 20px;
}

.right {
    background-color: $turquoise;
}

.modal-title-right {
    height: 450px;
}

.login {
    height: 350px;
}

.button-login {
    background-color: $turquoise;
}

button-registration {
    color: $turquoise;
}

.modal.show .modal-dialog {
    margin-top: 100px;
}
