{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {{  form_start(form) }}

        {{ form_row(form.content, {'attr': {'placeholder': 'Contenu de l\'article', 'rows': '12', 'cols': '100'}}) }}

        {{ form_end(form) }}

        <div id="editor1" contenteditable="true">
            <h1>Inline Editing in Action!</h1>
            <p>The "div" element that contains this text is now editable.</p>
        </div>
    </div>

<script>
    CKEDITOR.replace('editor1', {
        height: 260,
        width: 700,
    });

    // Turn off automatic editor creation first.
    CKEDITOR.disableAutoInline = true;
    CKEDITOR.inline( 'editor1' );
</script>

{% endblock %}
