{% extends 'base.html.twig' %}

{% block title 'Réinitialiser votre mot de passe' %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <h2 class="text-center pt-5">Réinitialiser votre mot de passe</h2>

        {{ form_start(requestForm) }}
            <p>Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
            {{ form_widget(requestForm.email) }}
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mt-3">Envoyer un courriel de réinitialisation du mot de passe</button>
            </div>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
