<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Adadain Quentin, Ardilouze Timothée, Dureau Ludovic, Erpeldinger Guillaume">
    <meta name="description" content="">
    <title>{% block title %}Job-Tech{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.png') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" type="text/css" href="node_modules/chart.js/dist/Chart.min.css">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    {% block header %}
    {% include 'components/_navbar.html.twig' %}
    {% endblock %}
</header>

<main>
    {% block body %}
    {% endblock %}
</main>

{% block footer %}
    {% include 'components/_footer.html.twig' %}
{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascript %}{% endblock %}
</body>

</html>
