{% extends 'base.html.twig' %}
{% block title 'Messagerie' %}
{% block body %}
    <div class="container d-flex">
        <div class="row-cols-8">
        <h1>Envoyer un message :</h1>
        </div>
        <div class="offset-2 row-cols-8">
            <h1>Boite de réception :</h1>
        </div>
    </div>
{% endblock %}
