{% extends 'base.html.twig' %}
{% block title 'Messagerie' %}
{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{{ path('message_new') }}">Nouveau message</a>
        <div class="scroll">
            <div class="d-flex flex-column">
      {% include 'components/_messagerie.html.twig' %}
    </div>
        </div>
    </div>
{% endblock %}
