.offer-list {
    .img-offer-list {
        height: 25vh;
        width: auto;
    }

    select,
    input {
        width: 100%;
    }

    .modal-dialog {
        max-width: 60%;
    }
}

.like {
    a {
        color: black;
    }

    .heart {
        color: $orange;
    }

}

