.offer-card {
    margin-left: 5vh;
    width: 90%;
}

.date {
    font-size: 0.7em;
    margin-top: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.filter {
    display: block;
    position: sticky;
    top: 20px;
}

@media (max-width: 768px) {
    .offer-card {
        width: 95%;
        margin: 1vh;
    }
}
