<div id="carouselContent" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselContent" data-slide-to="0" class="active"></li>
        <li data-target="#carouselContent" data-slide-to="1"></li>
        <li data-target="#carouselContent" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner w-75 ml-auto mr-auto" role="listbox">
        {% for actuality in actualities %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %} p-4">
                <h3 class="ml-3"><span class="text-gold">{{ actuality.postedAt | date('Y-m-d h:i:s') }}</span> - <span class="text-secondary">{{ actuality.title }}</span></h3>
                <p class="text-center">{{ actuality.description }}</p>
                <a href="{{ path('news_show', {'id': actuality.id}) }}" class="text-gold float-right">Lire l'article</a>
            </div>
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="icon-carousel" aria-hidden="true"><i class="fas fa-chevron-circle-left"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="icon-carousel" aria-hidden="true"><i class="fas fa-chevron-circle-right"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

