<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content d-flex flex-row">
            <div class="modal-login left">
                <h2>Connectez-vous</h2>
                <h3>en tant que </h3>
                <p class="login">
                    LOGIN ICI
                </p>
                <a type="button" href="{{ path('app_login') }}" class="btn btn-success button-login">Se connecter</a>

            </div>
            <div class="modal-login right">
                <h2 class="modal-title-right text-black">Vous n'avez pas encore de compte ?</h2>
                <a type="button" href="{{ path('app_register', {'action': 'create_candidat'} ) }}" class="btn btn-light button-registration">S'inscrire en tant que Candidat</a>
                <a type="button" href="{{ path('app_register', {'action': 'create_company'} ) }}" class="btn btn-light button-registration">S'inscrire en tant que recruteur</a>

            </div>
        </div>
    </div>
</div>
