<nav class="navbar navbar-expand-lg bg-jade d-flex p-0 fixed-top">
    <a class="navbar-brand" href="{{ path('index') }}">
        <img src="{{ asset('/build/images/logo-mini.svg') }}" alt="Logo JobTech">
        <span>Job-Tech</span>
    </a>

    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end bg-jade pl-3 pl-lg-0" id="navbarNav">
        <ul class="navbar-nav d-flex w-100">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('news_list') }}">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('offer_list') }}">Nos Offres</a>
            </li>
            <li class="ml-lg-auto mr-3 nav-item">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"> Mon espace <i class="far fa-user"></i></button>
            </li>
        </ul>
    </div>
</nav>
