{% extends 'base.html.twig' %}

{% block body%}

<h2>Edition d'offre</h2>

<div>
    {{ form_start(form) }}
    {{ form_row(form)}}

    <button class="btn-primary">Editer</button>

    {{ form_end(form) }}</div>

{% endblock %}
