{% extends 'base.html.twig' %}

{% block title 'Modifier informations personnelles' %}

{% block body %}
<div class="container">
    {% if action == 'personal_information' %}
        {{ include('user/candidate/_edit_personal_information.html.twig') }}
    {% endif %}
    {% if action == 'company_information' %}
        {{ include('user/company/_edit_company_information.html.twig') }}
    {% endif %}
    {% if action == 'connexion' %}
        {{ include('user/_connection_information.html.twig') }}
    {% endif %}
</div>

{% endblock %}
