{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
    <div class="offer-list">
        <section class="jumbotron d-flex flex-column align-items-center justify-content-center">
            <h1>Connectez-vous</h1>
            <img src="{{ asset('build/images/unDraw/login.svg') }}" alt="login image" class="img-offer-list">
        </section>

        <form method="post" class="">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex flex-column mb-2 w-25">
                    <label for="inputEmail" class="w-50">Email :</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                </div>
                <div class="d-flex flex-column w-25">
                    <label for="inputPassword" class="w-75">Mot de passe :</label>
                    <input type="password" name="password" id="inputPassword" required class="mb-5">
                </div>

            </div>
            <div class="d-flex justify-content-center mb-5">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">
                    Se connecter
                </button>
            </div>
        </form>
    </div>

{% endblock %}
