
{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}

    <div class="container">
        {% if app.user == user or is_granted('ROLE_ADMIN') %}
            <h1 class="pt-3 text-center">Mon compte</h1>
            {% if is_granted('ROLE_COMPANY') %}
                {% include 'user/company/_profile_company.html.twig' %}
            {% else %}
                {% include 'user/candidate/_profile_complete.html.twig' %}
            {% endif %}
        {% else %}
            {% include 'user/candidate/_profile_limited.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('candidate_graphic') }}
{% endblock %}
