{% extends 'base.html.twig' %}

{% block body %}
    <div class="pt-5">
        <div class="container-fluid">
            <ul class="list-unstyled multi-steps">
                <li class="is-active">Start</li>
                <li>Personnel</li>
                <li>Professionnel</li>
                <li>Résultat</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1 class="text-center pt-3">Questionnaire de personnalité</h1>
        <p class="text-center">Merci de répondre à ces deux questionnaires qui permettrons d'évaluer vos compétences personnelles et professionnelles.</p>
        <div class="text-center">
            <a class="btn btn-primary mx-auto mt-5" href="{{ path('questionnaire', {'competence': 'personnel'}) }}">Commencer</a>
        </div>
    </div>
{% endblock %}
