{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(questions) }}
    {{ form_widget(questions) }}
    {{ form_end(questions) }}
</div>

{% endblock %}
