{% extends 'base.html.twig' %}

{% block body %}
    <div class="pt-5">
        <div class="container-fluid">
            <ul class="list-unstyled multi-steps">
                <li>Start</li>
                <li>Personnel</li>
                <li>Professionnel</li>
                <li class="is-active">Résultat</li>
            </ul>
        </div>
    </div>
{% endblock %}
